.post {
    margin-top: $spacing-unit;
    background-color: $background-light;
    padding: 0px;
}
.post-header {
  position: relative;
  background-color: $background-light;
  text-align: center;
  padding: 0px;
  margin: 0px 0px $spacing-unit / 2;
  width: 100%;
  .post-head-image {
    vertical-align: top;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;    
  }
}
.post-content {
  color: $foreground;
  padding: $spacing-unit / 2;
  p {
    padding-top: $spacing-unit / 3;
    padding-bottom: $spacing-unit / 2;
  }
  blockquote {
    border-left: $flash1;
    border-left: 5px solid $flash1;
    background-color: $background;
    padding: $spacing-unit / 4;
  }
  blockquote p {
    display: inline;
  }

  h1 {
    @include relative-font-size(2.7);
    color: $background;
    background-color: $flash1;
    text-align: center;
  }
  h2 {
    @include relative-font-size(2.4);
  }
  h3 {
    @include relative-font-size(2.1);
  }
  h4 {
    @include relative-font-size(1.8);
  }
  h5 {
    @include relative-font-size(1.5);
  }
  h6 {
    @include relative-font-size(1.2);
  }
  ol {
    list-style-position: inside;
  }
  ul {
    list-style-position: inside;
  }

}
