.post-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px 5px;
  grid-row-gap: 5px;
  grid-auto-flow: row;
  justify-items: stretch;
  justify-content: stretch;
}
@media (min-width: 720px) {
  .post-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 950px) {
  .post-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.post-entry {
  height: 100%;
  background-color: lightgrey;
  margin: 0px;
}

.post-newest {
  background-color: green;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.post-featured {
  background-color: yellow;
  grid-column: 1 / -2;
  grid-row: 2 / 4;
}
