---
layout: index-default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>
  
  {{ content }}

  <ul class="post-list">

    <li class="post-entry post-newest">

    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    <span class="post-meta">{{ site.posts[0].date | date: date_format }}</span>

    <h2>
      <a class="post-link" href="{{ post.url | relative_url }}">{{ site.posts[0].title | escape }}</a>
    </h2>
</li>
    {% for post in site.posts offset:1 %}
    {% if post.featured == true and featured != true %}
    {% assign featured= true %}
      <li class="post-entry post-featured">
    {% else %}
      <li class="post-entry">
    {% endif %}
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
